<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <setting id="ip" type="text" label="30100" default="192.168.1.1" />
  <setting id="port" type="text" label="30101" default="8080" />
  <setting id="usr" type="text" label="30102" default="admin" />
  <setting id="pwd" type="text" label="30103" default="" />
  <setting id="refresh" type="enum" label="Refresh Rate" values="Off|5 Seconds|10 Seconds|30 Seconds|1 Minute" default="0"/>
  <setting id="limit" type="enum" label="Title Limit" values="Off|5 Chars|10 Chars|15 Chars|20 Chars" default="0"/>
</settings>
